<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title> Africa populations </title>
</head>

<body>
	
</body>
<script>
/**
 * Реализация API, не изменяйте ее
 * @param {string} url
 * @param {function} callback
 */
function getData(url, callback) {
    var RESPONSES = {
        '/countries': [
            {name: 'Cameroon', continent: 'Africa'},
            {name :'Fiji Islands', continent: 'Oceania'},
            {name: 'Guatemala', continent: 'North America'},
            {name: 'Japan', continent: 'Asia'},
            {name: 'Yugoslavia', continent: 'Europe'},
            {name: 'Tanzania', continent: 'Africa'}
        ],
        '/cities': [
            {name: 'Bamenda', country: 'Cameroon'},
            {name: 'Suva', country: 'Fiji Islands'},
            {name: 'Quetzaltenango', country: 'Guatemala'},
            {name: 'Osaka', country: 'Japan'},
            {name: 'Subotica', country: 'Yugoslavia'},
            {name: 'Zanzibar', country: 'Tanzania'},
        ],
        '/populations': [
            {count: 138000, name: 'Bamenda'},
            {count: 77366, name: 'Suva'},
            {count: 90801, name: 'Quetzaltenango'},
            {count: 2595674, name: 'Osaka'},
            {count: 100386, name: 'Subotica'},
            {count: 157634, name: 'Zanzibar'}
        ]
    };

    setTimeout(function () {
        var result = RESPONSES[url];
        if (!result) {
            return callback('Unknown url');
        }

        callback(null, result);
    }, Math.round(Math.random * 1000));
}

/**
 * Ваши изменения ниже
 */
	var requests = ['/countries', '/cities', '/populations'];
	var responses = [];
	var city;
	
	//---------ПОИСК ПО КОНТИНЕНТУ-----------------------------------
	var check_continent = function (error, result) {
			if(error) {console.log(error);}
			else 
				{
				var res = false;
				result.forEach(function(name){
					if(name["continent"] == city) res = true;
					});
				if(res) {
						var j = 0;
						for (i = 0; i < 3; i++) {
							var request = requests[i];
							
							var callback = function (error, result) {
								if(error) {console.log(error);}
								else 
									{
									var request = requests[j++]; // ошибка тут (хз почему)
									
									responses[request] = result;
									var l = [];
									for ( K in responses) l.push(K);
									
									if (l.length == 3) {	
										var c = [], cc = [], p = 0;
										for (i = 0; i < responses['/countries'].length; i++) {
											if (responses['/countries'][i].continent === city) {
												c.push(responses['/countries'][i].name);
											}
										}

										for (i = 0; i < responses['/cities'].length; i++) {
											for (j = 0; j < c.length; j++) {
												if (responses['/cities'][i].country === c[j]) {
													cc.push(responses['/cities'][i].name);
												}
											}
										}

										for (i = 0; i < responses['/populations'].length; i++) {
											for (j = 0; j < cc.length; j++) {
												if (responses['/populations'][i].name === cc[j]) {
													p += responses['/populations'][i].count;
												}
											}
										}
										
										console.log('Total population in '+ city + ' cities: ' + p);
										}
									}
							};		
							
							getData(request, callback);
							}
						}
					else { console.log("Введенного вами континента нет в справочнике");}
				}
		};
	
	
	//---------ПОИСК ПО СТРАНЕ-----------------------------------
	
		var check_country = function (error, result) {
			if(error) {console.log(error);}
			else 
				{
				var res = false;
				result.forEach(function(name){
					if(name["country"] == city) res = true;
					});
				if(res) {
						var j = 1;
						for (i = 1; i < 3; i++) {
							var request = requests[i];
							
							var callback = function (error, result) {
								if(error) {console.log(error);}
								else 
									{
									var request = requests[j++]; // ошибка тут (хз почему)
									
									responses[request] = result;
									var l = [];
									for ( K in responses) l.push(K);
									
									if (l.length == 2) {	
										var cc = [], p = 0;

										for (i = 0; i < responses['/cities'].length; i++) {
											if (responses['/cities'][i].country === city) {
												cc.push(responses['/cities'][i].name);
											}
										}

										for (i = 0; i < responses['/populations'].length; i++) {
											for (j = 0; j < cc.length; j++) {
												if (responses['/populations'][i].name === cc[j]) {
													p += responses['/populations'][i].count;
												}
											}
										}
										
										console.log('Total population in '+ city + ' cities: ' + p);
										}
									}
							};		
							
							getData(request, callback);
							}
						}
					else { console.log("Введенной вами страны нет в справочнике");}
				}
		};
	
	//---------ПОИСК ПО ГОРОДУ-----------------------------------
		var check_city = function (error, result) {
			if(error) {console.log(error);}
			else 
				{
				var res = false;
				result.forEach(function(name){
					if(name["name"] == city) res = name["count"];
				});
					
				if(res == false) console.log("Введенного вами города нет в справочнике");
				else console.log('Total population in '+ city + ' cities: ' + res);
				}
			};
							
	var type = prompt("Введите 1 для поиска по континенту, введите 2 для поиска по стране, введите 3 для поиска по городу:", "1");
	if(type == 1) {
		city = prompt("Введите название континента?", "Africa");
		getData(requests['0'], check_continent);
	}	
	else if(type == 2) {
		city = prompt("Введите название страны?", "Cameroon");
		getData(requests['1'], check_country);
	}
	else if(type == 3) { 
		city = prompt("Введите название города?", "Osaka");
		getData(requests['2'], check_city);
	}
	else console.log("Данной операции не предусмотрено");
</script>
</html>
